mixin ingredient(ingredient)
    a(href=`/ingredient/${ingredient._id}`).ingredient
        div.ingredient__name
            span=ingredient.name 
        div.ingredient__info
            span=ingredient.amount
            span=ingredient.amountType
        div.ingredient__period
            span 남은기간
            span #{Math.round((new Date(ingredient.periodLife) - new Date())/1000/3600/24)}일
        