mixin recipe(recipe)
    a(href=`/recipe/${recipe._id}`) 
        h3=recipe.name 
        p=recipe.description
        div
            span 인원
            span #{recipe.serving}인분
        div 
            span 조리시간
            span #{recipe.time}분
