extends ../base 
include ../mixins/comment

block content 
    div(data-id=recipe.id).recipe 
        if recipe.thumb !== ""
            img(src="/"+recipe.thumb)
        else 
            div 
                i.fas.fa-hamburger
        h3=recipe.name
        p=recipe.description
        div
            span 인원
            span #{recipe.serving}인분
        div 
            span 조리시간
            span #{recipe.time}분
        div 
            h5 필요 재료
            ul 
                each ingredient in recipe.ingredients 
                    li 
                        span=ingredient.ingredientName 
                        span=ingredient.ingredientAmount
                        span=ingredient.amountType
        div 
            h5 조리 방법
            ul 
                each order in  recipe.orders
                    li 
                        span=order.order 
                        span=order.content
        if recipe.owner._id.toString() === loggedInUser._id
            a(href=`/recipe/${recipe._id}/edit`) 수정하기
        div 
            span 레시피가 마음에 드시나요?
            if recipe.likes.filter(id => id === loggedInUser._id).length === 0
                i.far.fa-heart
                i.fas.fa-heart.hidden
                span.likes__count=recipe.likes.length
            else
                i.far.fa-heart.hidden
                i.fas.fa-heart
                span.likes__count=recipe.likes.length
        div 
            h5 댓글
            if loggedIn 
                div     
                    if loggedInUser.avater !== undefined
                        img(src="/"+loggedInUser.avatar)
                    else 
                        div 
                            i.fas.fa-user
                    div 
                        form.recipe__comment__form
                            input(type="text", name="comment",placeholder="댓글 추가..." ).recipe__comment__form__input
                            input(type="submit" value="댓글")
            else 
                span 댓글을 달기 위해서는 먼저 로그인을 해주세요.
            ul.recipe__comment__list
                if recipe.comments.length === 0
                    li.recipe__comment__unexist 아직 댓글이 존재하지 않습니다.
                each comment in recipe.comments 
                    +comment(comment)
    script(src="/assets/js/comment.js")
    script(src="/assets/js/like.js")
                
            
        
                    