extends ../base 

block content 
    div 
        h3=recipe.name
        p=recipe.description
        div
            span 인원
            span #{recipe.serving}인분
        div 
            span 조리시간
            span #{recipe.time}분
        div 
            h5 필요 재료
            ul 
                each ingredient in recipe.ingredients 
                    li 
                        span=ingredient.ingredientName 
                        span=ingredient.ingredientAmount
                        span=ingredient.amountType
        div 
            h5 조리 방법
            ul 
                each order in  recipe.orders
                    li 
                        span=order.order 
                        span=order.content
        if recipe.owner._id.toString() === loggedInUser._id
            a(href=`/recipe/${recipe._id}/edit`) 수정하기
        
                    