extends ../base 

block content 
    div(data-id=ingredient._id).ingredient__detail
        h3=ingredient.name
        div
            if ingredient.store === "냉장" 
                span 냉장 보관 중
            else if ingredient.store === "냉동" 
                span 냉동 보관 중
            else if ingredient.store === "상온" 
                span 상온 보관 중
        div
            span.ingredient__amount=ingredient.amount
            if ingredient.amountType === "g" 
                span g
            else if ingredient.amountType === "ml" 
                span ml
            else if ingredient.amountType === "개" 
                span 개
            if ingredient.owner._id.toString() === loggedInUser._id
                form.ingredient__amount__form
                    input(type="number" name="spend" required value=0).spend__input
                    input(type="submit" value="소비")
                    input(type="checkbox" id="purchase" name="purchase" value="true" checked=(ingredient.purchase === true ? true : false)).purchase__check
                    label(for="purchase") 구매 목록 추가
        div 
            h5 구입 날짜
            span #{ingredient.purchaseDate.slice(0,4)}년 #{ingredient.purchaseDate.slice(5,7)}월 #{ingredient.purchaseDate.slice(8,10)}일
            h5 유통 기한
            span #{ingredient.periodLife.slice(0,4)}년 #{ingredient.periodLife.slice(5,7)}월 #{ingredient.periodLife.slice(8,10)}일
            h5 남은 기간
            span #{period}일
        if ingredient.owner._id.toString() === loggedInUser._id
            a(href=`/ingredient/${ingredient._id}/edit`) 수정하기
    script(src="/assets/js/ingredient.js")

